body{
	margin: 0;
	overflow: hidden;
}
canvas{
    padding: 0;
    background:#000;
}
.options{
	position: absolute;
	top: 10px;
	left:10px;
	background:#aba2f6 ;
	border-radius: 15px;

}